{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <script src="https://kit.fontawesome.com/4c026a19a9.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/contact.css' %}">
    <link rel="stylesheet" href="{% static 'css/about.css' %}">

    <link rel="stylesheet" href="{% static 'css/API.css' %}">
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
    <link rel="stylesheet" href="{% static 'css/registration.css' %}">
    <title>Kuposi</title>
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'index' %}">Home</a></li>
                <li><a href="{% url 'contact' %}">Contact</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
                <li><a href="{% url 'API' %}">Animes</a></li>
            </ul>
        </nav>
    </header>
    {% block content %}
    {% endblock %}
    <footer>
        <p class="kuposi">Kuposi</p>
        <p class="copy">&copy; 2024 Kuposi's App. All Rights Reserved.</p>
        <div class="kits_div">
            <a class="i1" target="_blank" href="https://www.facebook.com/profile.php?id=100011667395061"><i
                    class="fa-brands fa-facebook-messenger"></i></a>
            <a class="i2" target="_blank" href="https://www.instagram.com/nika__kupatadze/"><i
                    class="fa-brands fa-instagram"></i></a>
            <a class="i3" target="_blank" href="https://www.youtube.com/@nikushakupatadze661"><i
                    class="fa-brands fa-youtube"></i></a>
        </div>
    </footer>

</body>

</html>