{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/contact.css' %}">

    <title>Document</title>
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'index' %}">home</a></li>
                <li><a href="{% url 'contact' %}">contact us</a></li>
                <li><a href="{% url 'about' %}">about us</a></li>
            </ul>
        </nav>
    </header>
    {% block content %}
    {% endblock %}
</body>

</html>