{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/contact.css' %}">
    <link rel="stylesheet" href="{% static 'css/about.css' %}">

    <link rel="stylesheet" href="{% static 'css/API.css' %}">
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
    <link rel="stylesheet" href="{% static 'css/registration.css' %}">

    <title>Document</title>
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'index' %}">Home</a></li>
                <li><a href="{% url 'contact' %}">Contact</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
                <li><a href="{% url 'API' %}">Animes</a></li>
            </ul>
        </nav>
    </header>
    {% block content %}
    {% endblock %}
    <footer>
        <p>&copy; 2024 Kuposi's App. All Rights Reserved.</p>
    </footer>

</body>

</html>