{% extends "base.html" %}

{% block content %}
<div class="container">
    <section>
        <h1>Welcome to the kupo's app.</h1>
        <h2>This is a Home page!</h2>
        <h2>Cheak out our other pages.</h2>
    </section>

    <footer>
        <p style="color: chocolate;">Did you registrate?</p>
        <p style="color: chocolate;">If not,registrate there ==> <a style="color: red;"
                href="{% url 'registration' %}">Registration</a></p>
        <p style="color: chocolate;">Log in here <a style="color: red;" href="{% url 'login' %}">Log In</a></p>
    </footer>

</div>
{% endblock %}