{% extends "base.html" %}

{% block content %}
<div class="container">
    <section>
        <h1>Welcome to the kuposi's app.</h1>
        <h2>This is a Home page!</h2>
        <h2>Cheak out our other pages.</h2>
    </section>

    <footer>
        <p style="color: rgb(79, 43, 18);">Did you registrate?</p>
        <p style="color: rgb(79, 43, 18);">If not,registrate there <a class="reg_log" style="color: red;"
                href="{% url 'registration' %}">Registration</a></p>
        <p style="color: rgb(79, 43, 18);">Log in here <a style="color: red;" class="reg_log"
                href="{% url 'login' %}">Log In</a></p>
    </footer>

</div>
{% endblock %}