body {
  padding: 10px;
  background: radial-gradient(circle, #9b59b6, #4b0082);
}

ul {
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
li {
  border-radius: 3px;
}
